body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 100;
    margin: 0;
 }
  .banner, .mission, .coding-project, .application {
     display: flex;
     width: 80%;
    margin: 20px auto;
 }
 .banner-heading {
   margin-top: 20px;
   padding-left: 15px;
   border-left: 4px solid rgb(255, 187, 0);
   line-height: 200%;
   margin-top: 150px;
 }
 .banner-heading h1 {
   font-family: 'Yeseva One', cursive;
   font-size: 50px;
 }
 .half-width {
     width: 50%;
 }
 .profile-photo {
     width: 75%;
     padding-left: 40px;
 }
 .button {
    margin: 40px 0px 40px 0px ;
 }
 .button-link {
    text-decoration: none;
    color: white;
    margin: 200px auto;
    padding: 10px 40px;
    background-color: rgb(0, 106, 192);
    border-radius: 5px;
 }
.section-heading {
   font-size: 45px ;
   font-family: 'Poppins', sans-serif;
   text-align: center;
}
.one-third-width{
   width: 25%;
   padding: 30px;
   border-radius: 10px;
}
.one-third-width img {
   width: 50%;
}
#mission-1 {
   background-color: rgb(233, 221, 253);

}
#mission-2 {
   background-color: rgb(253, 223, 219);
   margin: 0px 25px;
}
#mission-3 {
   background-color: rgb(254, 255, 203);
}
h5 {
   font-size: 20px;
   font-family:  'Poppins', sans-serif;
}
.coding-project {
   margin-top: 80px;
}
.coding-project h3, .application h3 {
   font-size: 35px ;
   font-family: 'Poppins', sans-serif;
   margin-top: 50px;
}
.coding-img img, .project-img img{
   width: 400px;
}
.project-img img {
   padding-left: 100px;
}
.coding-text {
   margin-left: 100px;
}
.project-text {
   margin: 0;
}


.application-img {
   width: 50%;
   padding-left: 25%;
}

footer {
   background-color: black;
   color: white;
   text-align: center;
   margin-top: 100px;
}
.footer {
   padding: 30px;
}

 footer h4 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
 }
 footer p {
    font-size: 13px;
 }